{% extends 'test_auth/base.html' %}
{% block content %}

<div align="center">


<h2>部门查看</h2>

    <p></p>
        <table border="1" width="300px">
            <thead>

                <th>允许的操作</th>
            </thead>
            <tbody>

                <tr>

                    <td>
                        {% if perms.test_auth.department_edit %}
                         <a href="/department/edit/66/">编辑</a><br>
                        {% endif %}
                         {% if perms.test_auth.department_del %}
                        <a href="/department/del/66/">删除</a><br>
                        {% endif %}

                        {% if perms.test_auth.department_add %}
                        <a href="/department/add/">添加</a><br>
                        {% endif %}

                    </td>
                </tr>

            </tbody>
        </table>
    <br>


    </div>
{% endblock %}
