<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h2>登录页面</h2>
    <hr>
    <form method='post' action='/test_view/login/'>
        {% csrf_token %}
        <div style="margin-top:6px;margin-bottom:6px;">
            <label for="">登录账号：</label>
            <input type="text" name="account" value="{{ account_two }}">
        </div>
        <div style="margin-top:6px;margin-bottom:6px;">
            <label for="">登录密码：</label>
            <input type="password" name="password">
        </div>
        <div style="margin-top:6px;margin-bottom:6px;">
            <input type="checkbox" name="remember">记住登录账号
        </div>

        <div style="color:red;">
            {{ errmsg }}
        </div>

        <div style="margin-top:6px;margin-bottom:6px;">
            <input type="submit" value="登录">
        </div>
    </form>
    <div>
</body>
</html>
